/*#wrapper {*/
/*  display: flex;*/
/*  min-height: 100vh; !* Set wrapper height to 100% of viewport height *!*/
/*}*/

/*#sidebar-wrapper {*/
/*  width: 200px;*/
/*  min-height: 100vh; !* Set sidebar height to 100% of viewport height *!*/
/*  transition: all 0.3s ease;*/
/*  overflow-y: auto; !* Add scroll if content exceeds sidebar height *!*/
/*}*/

/*#page-content-wrapper {*/
/*  flex: 1; !* Take up remaining space in the wrapper *!*/
/*  padding-left: 200px; !* Match sidebar width *!*/
/*  transition: all 0.3s ease;*/
/*}*/

/*.footer-menu {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*}*/


/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*.custom-navbar {*/
/*  background-color: #1A9898*/
/*;*/
/*}*/

.header {
  background-color: rgb(250, 189, 100);
  padding: 10px;
  height: 50px; /* Adjust the height as needed */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between elements */
}

.title {
  font-size: 14px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the font bold */
}

.icons {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
}

.icon {
  margin: 0 5px; /* Add some margin */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: color 0.3s; /* Smooth transition for color change */
}

.icon:hover {
  color: #007bff; /* Change color on hover */
}

.divider {
  margin: 0 5px; /* Add some margin */
}





